body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: palegreen;                
    color: grey;
}
h1{
    text-transform: uppercase;
    font-size: x-large;
}
.green-text {
    color: green;
}
.red-text {
    color: red;
}
